<!--armar html del template comentarios-->
<div class="row">
  <div class="col-md-8 col-md-offset-2" id="mensaje"></div>
</div>
<div class="row">
  {{if isLoggedIn}}
  <div class="col">
    <form class="formCommentary" method="post" onsubmit="saveCommentary(this, event)">
      <input type="hidden" id="id_book" name="id_book" value="{$commentary['id_book_fk']}">
      <input type="hidden" id="id_book" name="id_user" value="{$commentary['id_user_fk']}">
      <div class="form-group">
        <label for="commentary">Comentario: </label>
        <textarea name="commentary" id="commentary" rows="8" cols="50" required></textarea>
      </div>
      <div class="form-group">
        <label for="qualification">Calificación: </label>
        <select name='puntaje'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="g-recaptcha" data-sitekey="6LeiU3oUAAAAAP4WL-U5WqqZ6PU9JSWYA6GdSgcr"></div> <!--captcha -->
      <button type="submit" class="btn btn-default">Enviar Comentario</button>
    </form>
  </div>
  {{/if}}
</div>

{{#each commentary}}
  <div class="col-md-12 media" id="{{id_commentary}}">
    <div class="media-body">
      <h4 class="media-heading title">{{name}}</h4>
      <h5 class="media-subheading points">Puntaje: {{qualification}}</h5>
      <p>{{comentario}}</p>
        <!-- <a class="js-edit" data-idcommentary="{{id_commentary}}"><i class="fa fa-trash fa-2x fa-fw" aria-hidden="true"></i></a> revisar para que aparesca el editar -->
      {{#isSuperUser}}
        <a class="js-delete" data-idcommentary="{{id_commentary}}"><i class="fa fa-trash fa-2x fa-fw" aria-hidden="true"></i></a>
      {{/isSuperUser}}
    </div>
  </div>
{{/each}}
<!--creo que asi esta bien  -->
